<h1>My Company's Database</h1>

<div class="container">


  <div class="row mt-3">

    <div *ngFor="let e of employees" class="col-sm-12 col-md-12 col-lg-6">
      <mat-card class="example-card mb-3 mt-3">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image">
            <i class="fa fa-user-circle fa-3x"></i>
          </div>
          <mat-card-title>{{ e.name }}</mat-card-title>
          <mat-card-subtitle>{{ e.username }}</mat-card-subtitle>
        </mat-card-header>

  <!--      <mat-card-content>-->

  <!--        <a [href]="'https://www.' +  e.website">-->
  <!--          {{ e.website }}-->
  <!--        </a>-->

  <!--        <p>-->
  <!--          {{ e.company.name }}-->
  <!--        </p>-->
  <!--        <p>-->
  <!--          {{ e.company.catchPhrase }}-->
  <!--        </p>-->
  <!--        <p>-->
  <!--          {{ e.company.bs }}-->
  <!--        </p>-->
  <!--      </mat-card-content>-->

        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">

            <mat-expansion-panel-header [style.backgroundColor]="'#B00020'">
              <mat-panel-title [style.color]="'white'">
                Employee's Info
              </mat-panel-title>
              <mat-panel-description>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-card-content>


              <a [href]="'https://www.' +  e.website">
                {{ e.website }}
              </a>

              <p>
                {{ e.company.name }}
              </p>
              <p>
                {{ e.company.catchPhrase }}
              </p>
              <p>
                {{ e.company.bs }}
              </p>
            </mat-card-content>
          </mat-expansion-panel>
        </mat-accordion>
<!--        <mat-card-actions>-->
<!--          <button mat-raised-button color="primary">View Info</button>-->
<!--        </mat-card-actions>-->
      </mat-card>
    </div>

  </div>
</div>
